[submodule "pack/colors/opt/srcery"]
	path = pack/colors/opt/srcery
	url = https://github.com/srcery-colors/srcery-vim
[submodule "pack/colors/opt/everblush"]
	path = pack/colors/opt/everblush
	url = https://github.com/Everblush/everblush.vim
[submodule "pack/colors/opt/rosepine"]
	path = pack/colors/opt/rosepine
	url = https://github.com/rose-pine/vim
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/better-escape.vim"]
	path = pack/plugins/start/better-escape.vim
	url = https://github.com/jdhao/better-escape.vim
[submodule "pack/plugins/opt/fzf"]
	path = pack/plugins/opt/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/plugins/opt/fzf.vim"]
	path = pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "pack/plugins/opt/vim-speeddating"]
	path = pack/plugins/opt/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "pack/syntax/opt/orgmode"]
	path = pack/syntax/opt/orgmode
	url = https://github.com/jceb/vim-orgmode
